@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import "libs/variables";

* {
  font-family: "Inter", sans-serif;

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    &:hover {
      background: #ddd;
    }
  }
}

#__nuxt {
  transition: 0.5s;
  background-color: $background;
  color: $accent;
}

h1 {
  font-size: calc(26px + 0.390625vw);
}

h2 {
  font-size: calc(22px + 0.390625vw);
}

h3 {
  font-size: calc(18px + 0.390625vw);
}

h4 {
  font-size: calc(15px + 0.390625vw);
}

h5 {
  font-size: calc(13px + 0.390625vw);
}

p {
  font-size: calc(11px + 0.390625vw);
}

a {
  font-size: calc(11px + 0.390625vw);
}

label {
  font-size: calc(11px + 0.390625vw);
}

@import "libs/mixins";
@import "layouts/main";
@import "transitions/bounce";
